html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
@media (min-width: 576px) {
  main {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }
}
@media (min-width: 768px) {
  main {
    width: 720px;
  }
}
@media (min-width: 992px) {
  main {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  main {
    width: 960px;
  }
}
@media (min-width: 1400px) {
  main {
    width: 960px;
  }
}
