html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 960px;
  }
}
.text-center {
  text-align: center;
}
.ant-layout {
  min-height: 100vh !important;
  background: white!important;
}
.grid-3 {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 575px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.column {
  display: flex;
  flex-direction: column;
}
